@model IEnumerable<NET2.Models.Categoria>

@{
    ViewData["Title"] = "Categoria cursos";
}

<h2>Index</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaID" class="btn btn-success"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaID"class="btn btn-warning"><i class="fas fa-th-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaID"class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
